.section {
  margin-top: 8px;
  padding: 5px;
}
.phonetic,
a {
  text-decoration: none;
  border: 1px solid rgb(30, 101, 193);
  border-radius: 20px;
  padding: 5px;
  color: rgb(109, 109, 109);
}
.phonetic,
a:hover {
  color: rgb(235, 235, 235);
  background: rgb(4, 121, 224);
}
