.section {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px;
}
.phonetic,
.phoneticAudio {
  text-decoration: none;
  border: 1px solid rgb(59, 153, 235);
  border-radius: 20px;
  padding: 5px;
  color: rgb(109, 109, 109);
}
.phonetic,
.phoneticAudio:hover {
  text-decoration: none;
  color: rgb(235, 235, 235);
  background: rgb(59, 153, 235);
}
